<app-filter
  [all]="totalProducts"
  [inStock]="tottalInStock"
  [outOfStock]="tottalOutOfStock"
  (selectEventselectFilterRadioButtonChange)="onFilterChange($event)"
></app-filter>
<div class="ekart--products--container">
  <div *ngFor="let prod of products" >
    <!-- *ngIf="selectFilterRadion === 'all' || prod.is_in_inventory.toString() === selectFilterRadion" -->
    <app-product [product]="prod" *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)" ></app-product>
  </div>
</div>
